body
{
    background: #011126;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.assignment
{
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #023859;
    border-radius: 4px;
}

.assignment img
{
    width: 200px;
    margin: 10px;
    border: 3px solid #0FB2F2;
}

.assignment img:hover
{
    border: 3px solid #03738C;
}

h1
{
    color: #03738C;
    text-align: center;
}

h1:hover
{
    color: #03738C;
}

a
{
    text-decoration: none;
    color: #0FB2F2;
}

a:hover
{
    color: #03738C;
}